.container h1{
    font-size: 35px;
    color: green;
    padding-top: 20px;
}

button{
    width: 90px;
    height: 60px;
    border: none;
    font-size: 30px;
    background-color: green;
    color: white;
}

h2{
    font-size: 45px;
}


button:hover {
    background-color:greenyellow;
    color: grey;
}