.container h1{
    font-size: 35px;
    color: green;
    padding-top: 20px;
}

button{
    width: 90px;
    height: 60px;
    border: none;
    font-size: 30px;
    background-color: green;
    color: white;
}

h2{
    font-size: 45px;
}


button:hover {
    background-color:greenyellow;
    color: grey;
}

.btn-primary{
    margin-top: 10px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: red;
 } 
 
 .btn-primary:hover{
     background-color: red;
 }